@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&display=swap');
*{
  font-family: 'Arimo', sans-serif;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}

.imageContainer {
  position: relative;
  width: 40%;
  text-align: center;
  margin-right: 20px;
  margin-left: 150px;
}
.umbrellaImage {
  position: relative;
  z-index: 1;
  width: 80%;
  background-repeat: no-repeat;
  background-size: contain;
}

.loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
}

.themesContainer {
  margin-right: 200px;
  display: flex;
  flex-direction: column;
  font-family: 'Arimo', sans-serif;
}
.themesContainer h1{
  font-size: xx-large !important;
}
.themes img{
  border-radius: 50px;
  cursor: pointer;
  border: 0px;
}
.uploadButton {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-bottom: 20px;
}
.loaderContainer{
  align-items: center;
}
.loaderContainer img{
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
#logoUploadButton {
  margin-left: 0px;
  display: flex;
  align-items: left;
  justify-content: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#logoUploadButton:hover {
  background-color: #f5f5f5;
}

#logoUploadButton img {
  margin-right: 50px;
  height: 20px;
  width: 20px;
}

.logoContainer{
  position: absolute;
  top: 330px; 
  left: 190px; 
  z-index: 1; 
  width: 30%;
}
#logoUploadButton{
  width: 270px;
  height: 50px;
  align-items: center;
  text-align: center;
}



